{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
    <main style="margin-top: calc(2rem + 85px);">
        <section>
            <div class="container">
                <!--
                <div class="card p-3 mb-5 foodplan__shadow">
                    <a href="#" class="link-secondary fw-light foodplan__backButton">
                        <svg xmlns="http://www.w3.org/2000/svg" width="9%" height="9%" fill="currentColor" class="bi bi-arrow-left-circle"
                            viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
                        </svg>
                    </a>
                      <h2 class="text-center"><strong>Авторизация</strong></h2>
                </div>
                -->
                <div class="card px-5 py-3 d-flex align-items-center foodplan__shadow">
                    <form method="post">
                        {% csrf_token %}
                        <h1 class="mb-4 text-center"><strong>Вход</strong></h1>
                        {% for field in form %}
                          <div class="mb-3">
                            <label class="form-label">{{ field.label }}</label>
                            {{ field|add_class:"form-control" }}
                          </div>
                        {% endfor %}

                        <div class="row mb-3">
                          <div class="col-12 col-sm-6 mt-3">
                              <button type="submit" class="btn w-100 btn-outline-success foodplan_green foodplan__border_green">Войти</button>
                          </div>
                          <div class="col-12 col-sm-6 mt-3 d-flex justify-content-center align-items-center">
                              <h6>Нет аккаунта? <a href="{% url 'signup' %}" class="link-dark foodplan_green">Зарегистрируйтесь</a></h6>
                          </div>
                        </div>
                      </form>
                </div>
            </div>
        </section>
    </main>
{% endblock content %}
