{% extends 'base.html' %}
{% load static %}

{% block content %}
    <main style="margin-top: calc(2rem + 85px);">
		<section>
			<div class="container">
				<div class="col-12">
					<h2>Индивидуальное меню для {{ client }}</h2>
				</div>
				{% for day, meals in menu.items %}
					<div class="card">
						<h5 class="card-header">{{ day }}</h5>
							{% for meal in meals %}
								{% if meal %}
									<div class="card-body">
										<div class="card col-12 p-3 mb-3 foodplan__shadow">
											<b><h4>{{ meal.get_type_display }}</h4></b>
											<div class="row">
												<div class="col-2">
													{% if meal.image %}
														<img src="{{ meal.image.url }}" alt="" class="w-100">
													{% else %}
													<img src="{% static 'img/circle1.png' %}" alt="" class="w-100">
													{% endif %}
												</div>
												<div class="col-10 col-md-10">
													<div class="row">
														<div class="col-12">
															<a href="{% url 'recipe' meal.pk %}" class="link-dark mx-1" style="text-decoration: none;">
																<b><h5>{{ meal.title }}</h5></b>
															</a>
														</div>

														<div class="col-md-12 col-lg-9">
															<h6>
																{{ meal.description|truncatewords:20 }}
															</h6>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								{% endif %}
							{% endfor %}
					</div>
				{% endfor %}
			</div>
		</section>
    </main>
{% endblock content %}
