{% extends 'base.html' %}
{% load static %}

{% block content %}
    <main style="margin-top: calc(2rem + 75px);">
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-4 d-flex justify-content-center">
                        <div class="card foodplan__card_borderless">
                            {% if recipe.image %}
                                <img src="{{ recipe.image.url }}" alt="">
                            {% else %}
                            <img src="{% static 'img/circle1.png' %}" alt="">
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-12 col-md-8 d-flex flex-column justify-content-between">
                        <div class="row">
                            <h2>{{ recipe.title }}</h2>
                            <div class="col-12 col-sm-6 d-flex flex-column justify-content-between">
                                <h6>{{ recipe.description }}</h6>
                                <h6>{{ recipe.instructions }}</h6>
                            </div>
                            <div class="col-12 col-sm-6">
                                <small class="link-secondary">Ингредиенты:</small>
                                <ul class="list-group list-group-flush">
                                    {% for ingredient in recipe.ingredients.all %}
					                    <li class="list-group-item disabled">
                                            <small>
                                                {{ ingredient.product.title }}
																							{{ ingredient.amount }}
																							{{ ingredient.product.unit }}
																							(Цена:
																							{% widthratio ingredient.amount 1 ingredient.product.price %}
																							руб.)
                                            </small>
                                        </li>
			                        {% endfor %}
                                </ul>
                                <small class="link-secondary">
                                    Общая калорийность:
                                    {{ recipe.calories }} кКал</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock content %}